.header{background:#000;}.top-bar{background:#C82300;}.copyright{background:#000;}.row{text-transform:uppercase;}a{color:red;}
.flexslider .slider-caption{background-color:transparent;margin-bottom:15%;width:40%;text-align:justify;}
