.main-content{background:#11141d;color:white;}input#edit-keys{background:#2b2e36;color:white;border-color:#2b2e36;}
.header{background:#000;}.top-bar{background:#C82300;}.copyright{background:#000;}.row{text-transform:uppercase;}ul#main-menu a{color:#40586D;font-weight:bold;}ul#main-menu a:hover{color:red;}
