.header{background:#000;}.top-bar{background:#C82300;}.copyright{background:#000;}.row{text-transform:uppercase;}
.flexslider .slider-caption{background-color:transparent;width:40%;text-align:justify;}.flex-active-slide{height:100%;}.flexslider .slides img{height:500px;}
